@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply bg-gray-50 text-gray-900 font-sans antialiased;
  }
}

@layer utilities {
  .print-zone {
    @apply absolute border-2 border-dashed border-white/40 rounded-sm;
  }
}
